@media screen and (min-width: 768px) {
    nav#menu {
        .mobile>div {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 20px;
    }
    nav#menu {
        .container {
            flex-direction: column;
            align-items: flex-start;
        }
        .mobile {
            cursor: pointer;
            ul {
                display: none;
                flex-direction: column;
                align-items: center;
                width: 100%;
                li,
                a {
                    width: 100%;
                    display: block;
                }
                a {
                    text-align: center;
                }
                li>ul {
                    min-width: 100%;
                    left: 0;
                    a {
                        text-align: center;
                    }
                }
            }
        }
    }
    #header {
        .container {
            padding: 0 30px;
            .logo {
                max-width: 150px;
            }
        }
    }
}