@import url('https://fonts.googleapis.com/css?family=Amiko:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');
// Variables scope
$highlight: #3f5466;
$light-text: #eee;
$link-color: #4fafe2;
// -------------------
input, textarea {
    outline-color: $link-color;
}

input[type="submit"],
button {
    cursor: pointer;
    appearance: none;
    border: none;
    font-size: 1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #4fafe2;
    transition: box-shadow .4s ease;
    &:hover {
        box-shadow: inset 0 -0.5em 0 0 rgba(79, 175, 226, .75);
    }
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

// Scrollbar
::-webkit-scrollbar {
    width: 13px;
    background-color: #1b1f24;
}

::-webkit-scrollbar-thumb {
    background-color: #18bbfc;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2.5px rgba(0, 0, 0, .5);
}

body {
    font-size: 18px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

nav#menu {
    z-index: 999;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0 5px 30px rgba(24, 187, 252, .5);
    &.active {
        position: fixed;
        animation: .4s menuInDown ease;
        top: 0;
        left: 0;
        width: 100%;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile {
        width: 100%;
        .navigation {
            padding: 10px;
        }
        .navigation>div {
            background-color: #fff;
            width: 40px;
            height: 2px;
            margin: 10px;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: center;
            &.active {
                display: flex;
            }
            * {
                transition-duration: .4s;
                transition-property: transform, background-color, padding;
                transition-timing-function: ease;
            }
            li {
                &:hover {
                    background-color: rgba(0, 0, 0, .3);
                    a>.fas.fa-caret-right {
                        transform: rotate(90deg);
                    }
                    a {
                        padding: 1em 1.8em;
                    }
                }
                >ul {
                    z-index: 1000;
                    display: none;
                    flex-wrap: wrap;
                    max-width: 250px;
                    position: absolute;
                    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
                    background-color: #fff;
                    &.active {
                        display: flex;
                        animation: .4s menuIn ease;
                    }
                    &.disabled {
                        animation: 1s menuOut ease;
                    }
                    &.active.mobile {
                        animation: none !important;
                    }
                    >li {
                        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
                        width: 100%;
                        &:hover {
                            background-color: transparent;
                            box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
                        }
                    }
                    a {
                        color: rgb(153, 153, 153);
                        display: block;
                    }
                }
                a {
                    box-shadow: none;
                    padding: 1em 1.3em;
                    text-decoration: none;
                    color: #fff;
                    &:hover {
                        color: #18bbfc;
                    }
                    >.fas {
                        margin-left: .5em;
                    }
                }
            }
        }
    }
}

#header {
    >.container {
        height: 100vh;
    }
    .logo {
        top: 8vh;
        position: absolute;
        max-width: 250px;
        padding: 20px;
        margin-top: 30px;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 0 0 3px #18bbfc;
    }
}

#slider {
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    .item {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
}

#main {
    .section {
        padding: 30px 0;
        h1 {
            text-transform: uppercase;
            font-weight: normal;
            padding: 20px 10px;
            text-align: center;
            font-size: 3em;
        }
        h2 {
            font-weight: normal;
            font-size: 2em;
        }
        p {
            font-size: 1.1em;
        }
        &.proposal {
            background-color: #111111;
            color: $light-text;
            >.container {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                .item {
                    margin-bottom: 25px;
                    flex-basis: 45%;
                    .item-info {
                        display: flex;
                        i {
                            font-size: 5em;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
        &.contact {
            >.container {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    text-align: center;
                    margin-bottom: 10px;
                }
                .contact-form {
                    max-width: 660px;
                    width: 100%;
                    .item {
                        p {
                            transition-duration: .4s;
                            transition-timing-function: ease;
                            z-index: 800;
                            position: absolute;
                            margin-top: .5em;
                            margin-left: .5em;
                            color: #3f5466;
                            &.active {
                                color: $light-text;
                                font-size: .75em;
                                margin-top: -0.8em;
                                margin-left: .1em;
                                background-color: $link-color;
                                padding: 3px 10px;
                                border-radius: 50px;
                            }
                        }
                        textarea {
                            font-family: 'Open Sans' !important;
                            resize: none;
                        }
                        input,
                        textarea {
                            margin-bottom: 15px;
                            display: block;
                            width: 100%;
                            padding: .5em .8em;
                            font-size: 1em !important;
                        }
                    }
                    input[type="submit"] {
                        width: 100%;
                        padding: 1.5em;
                        background-color: $link-color;
                        color: $light-text;
                        border-radius: 100px;
                    }
                }
            }
        }
    }
}

#footer {
    .bottom-content {
        color: $light-text;
        background-color: rgb(24, 26, 29);
        padding: 20px 0;
        >.container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

@keyframes menuIn {
    from {
        transform: scale(0.5);
        border-radius: 100%;
        margin-top: -20vh;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menuInDown {
    from {
        margin-top: -20vh;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menuOut {
    from {
        border-radius: 100%;
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@import "mobile";