@import url('https://fonts.googleapis.com/css?family=Amiko:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');
// Variables scope
$highlight: #3f5466;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

body {
    font-size: 18px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

nav#menu {
    background-color: $highlight;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile {
        width: 100%;
        .navigation {
            padding: 10px;
        }
        .navigation>div {
            background-color: #fff;
            width: 40px;
            height: 2px;
            margin: 10px;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: center;
            &.active {
                display: flex;
            }
            * {
                transition-duration: .4s;
                transition-property: transform, background-color;
                transition-timing-function: ease;
            }
            li {
                &:hover {
                    background-color: rgba(0, 0, 0, .3);
                    a>.fas.fa-caret-right {
                        transform: rotate(90deg);
                    }
                }
                >ul {
                    display: none;
                    flex-wrap: wrap;
                    max-width: 250px;
                    position: absolute;
                    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
                    background-color: #fff;
                    &.active {
                        display: flex;
                        animation: .4s menuIn ease;
                    }
                    &.disabled {
                        animation: 1s menuOut ease;
                    }
                    >li {
                        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
                        width: 100%;
                        &:hover {
                            background-color: transparent;
                            box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
                        }
                    }
                    a {
                        color: rgb(153, 153, 153);
                        display: block;
                    }
                }
                a {
                    &:hover {
                        color: #18bbfc;
                    }
                    >.fas {
                        margin-left: .5em;
                    }
                    padding: 1em 1.3em;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

@keyframes menuIn {
    from {
        transform: scale(0.5);
        border-radius: 100%;
        margin-top: -20vh;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menuOut {
    from {
        border-radius: 100%;
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@import "mobile";